# This file is for local development only
version: '3.7'

services:
  app:
    build: .
    command: >
        uvicorn app.main:app
        --host 0.0.0.0 --port 8000
        --reload
        --reload-dir /app
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    env_file:
      - .env
